.header {
  height: 72px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: Orbitron, sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #7557ff;
}

.nav {
  display: flex;
  gap: 16px;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.8);
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.login {
  font-size: 16px;
  color: #7557ff;
  cursor: pointer;
}
