/* ===== 전체 헤더 영역 ===== */
.header {
  width: 100%;
  height: 73px;
  background: white;
  font-family: Inter, sans-serif;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 67.38px 40px; /* 위 아래 간격 고정값 */
  box-sizing: border-box;
}

/* ===== 왼쪽 로고 ===== */
.logo {
  width: 220px;
  height: 47px;

  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #7557ff;
  line-height: 1;
  display: flex;
  align-items: center;
}
/* ===== 가운데 메뉴 그룹 ===== */
.menuGroup {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 40px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.8);
}

.menuGroup > div {
  cursor: pointer;
}

/* ===== 오른쪽 Sign in + 아이콘 묶음 ===== */
.signInWrap {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

/* Sign in 텍스트 */
.signIn {
  font-size: 18px;
  font-weight: 500;
  color: #7557ff;
  line-height: 1; /* 아이콘이랑 높이 정확히 맞추기 위함 */
}

/* 텍스트 높이와 아이콘 높이를 1:1로 완전히 맞추기 위해 1em 사용 */
.arrowIcon {
  height: 1em; /* signIn의 font-size(20px)와 동일한 높이 */
  width: auto;
  display: block;
}
