/* WeeklyRankCard.css (isolated - no global vars) */

.frame-parent {
  width: 100%;
  height: 121.8px;
  position: relative;
  border-radius: 18px;
  background-color: #dfd9fb; /* lavendar */
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #212121;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.the-evolution-of-my-code-parent {
  position: absolute;
  top: 28px;
  left: 193px;
  width: 244px;
  height: 77px;
  overflow: hidden;
}

.the-evolution-of {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 262px;
  font-weight: 400;
}

.frame-child {
  position: absolute;
  top: 27px;
  left: 0px;
  border-radius: 999px;
  width: 19px;
  height: 19px;
  object-fit: cover;
}

.user123-may {
  position: absolute;
  top: 27px;
  left: 25px;
  font-size: 14px;
  white-space: pre-wrap;
  display: inline-block;
  width: 175px;
  height: 18px;
  opacity: 0.7;
}

.frame-group {
  position: absolute;
  top: 62px;
  left: calc(50% - 122px);
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 12px;
  opacity: 0.7;
}

.vector-parent {
  height: 12px;
  width: 34px;
  position: relative;
}

.vector-icon {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 11px;
  height: 10px;
}

.k {
  position: absolute;
  top: -1.5px;
  left: 15px;
}

.vector-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.vector-icon2 {
  height: 10px;
  width: 11px;
}

.div {
  position: relative;
}

.vector-icon3 {
  height: 10px;
  width: 10px;
}

.parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 176px;
  height: 130px;
  overflow: hidden;
  font-size: 26px;
}

.div2 {
  position: absolute;
  top: 49px;
  left: 34px;
}

.frame-item {
  position: absolute;
  top: 17px;
  left: 81px;
  border-radius: 10px;
  width: 94px;
  height: 94px;
  object-fit: cover;
  background: #cecece; /* 이미지 없을 때 */
}

.view-wrapper {
  position: absolute;
  top: 45.5px;
  right: 15.5px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #7557ff;
  box-sizing: border-box;
  width: 64px;
  height: 36px;
  overflow: hidden;
  align-items: center;
  background: #FAFAFA;
  font-size: 16px;
  color: #7557ff;
  cursor: pointer;
}

.view {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 19px);
}
