.hero {
  width: 100%;
  height: 240px;
  background: linear-gradient(180deg, #faf9ff, #ffffff);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 0px
}

/* 검색바 */
.searchBar {
  width: 560px;
  height: 48px;
  background: #f3f2ff;
  border-radius: 999px;

  display: flex;
  align-items: center;
  padding: 0 18px;
  gap: 300px;
}

/* input */
.input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
  color: #333;
}

.input::placeholder {
  color: #b8b6d8;
}

/* 아이콘 */
.searchIcon {
  color: #6f63ff;
  font-size: 16px;
}
