.wrapper {
  margin: 40px auto;
  width: 1360px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  width: 1360px;
  height: 241px;
  background: rgba(117, 87, 255, 0.15);
  border-radius: 12px;
  padding: 28px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textBox h3 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.textBox p {
  margin-top: 70px;
  font-size: 20px;
  color: #555;
}

.arrow {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}
