
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

@import "./global.css";

* { box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; background: #fafafa; }
