spring:
  datasource:
    url: jdbc:mysql://localhost:3306/meme_archive?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: appuser          # 본인 MySQL 계정
    password: appuser1234      # 본인 MySQL 비번

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
