.card {
  width: 270px;
  border-radius: 16px;
  border: 2px solid #a066ff;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.thumbnailWrap {
  width: 100%;
  height: 260px;
  background: #d9d9d9;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoArea {
  background: white;
  padding: 18px;
  box-sizing: border-box;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.keywordWrap {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.keyword {
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 12px;
  border: 1.5px solid #a066ff;
  color: #a066ff;
  background: white;
}

.bottomStats {
  display: flex;
  align-items: center;
  gap: 15px;
}

.statItem {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #555;
}

.icon {
  font-size: 15px;
}

.divider {
  width: 1.5px;
  height: 14px;
  background-color: #a066ff;
}
